/*
All classes in order
body
.header
    .left-header
        .header-logo
        .header-text
        img
    .right-header
        .links
            li
            a
.top
    .left-text
        .a-text
        .b-text
        .button1
    img
.second
    .title-s
    .text-pics    
        .second-info
            .second-text
        .second-info
            repeat
        ...
.third
    .quote
    .quote-aut
.fourth
    .card
        .card-text
        .button2
.footer
    p
 */

 /* General Styling Start */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

 body{
    min-height: 100vh;
    font-family:'Roboto', sans-serif;
 }

.header, .top, .second, .third, .fourth, .footer{
    padding: 32px 128px;
}

 .header, .top, .footer{
    background-color: #1f2937;
 }

 .links a, .b-text, .footer p{
    color: #E5E7EB;
    font-size: 18px;
 }

 .header-text, .a-text, button{
    color: #f9faf8;
 }

 button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 10px 5px;
    width: 100px;
 }
/* General Styling End */

 /* Header Styling Start */
 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .left-header{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .header-text{
    padding-left: 10px;
    font-size: 24px;
    text-align: center;
 }

.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    gap: 32px;
}

.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
}
/* Header Styling End */

/* Top Styling Start */
.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-text{
    display: flex;
    flex-direction: column;
}

.a-text{
    font-size: 48px;
    font-weight: 900;
}

.b-text{
    padding-bottom: 8px;
}
.top img{
    min-width: 200px;
    flex-shrink: 1;
}
/* Top Styling End */

/* Second Styling Start */
.second{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-s{
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.text-pics{
    display: flex;
    justify-content:center ;
    align-items:center;
    flex-wrap: wrap;   
}

.second-info{
    width: 200px;
    margin: 30px;
}

.text-pics img{
    border-style: solid;
    border-color:#3882F6;
    border-radius: 8px;
    padding: 16px;
}
/* Second Styling End */

/* Third Styling Start */
.third{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}